{% extends 'base.html' %}

{% block content %}
    <h2>{{ error }}</h2>
    <form method="post">
        {% csrf_token %}
        <p>
            Imie: <input type="text" name="first_name" value="{{ person.first_name }}">
        </p>
        <p>
            Nazwisko: <input type="text" name="last_name" value="{{ person.last_name }}">
        </p>
        <p>
            <input type="submit">
        </p>
    </form>

    <ul>
        {% for person in persons %}
            <li>
                <a href="{% url 'edit_person' person.id %}"> {{ person }}</a>
                <a href="{% url 'delete_person' person.id %}">Usuń</a>
            </li>
        {% endfor %}
    </ul>
    {% if person %}
        <form method="post" action="{% url 'add_role' %}">
            {% csrf_token %}
            <input type="text" name="role">
            <select name="movie">
                {% for movie in movies %}
                    <option value="{{ movie.id }}">{{ movie.title }}</option>
                {% endfor %}
            </select>
            <input type="hidden" name="person" value="{{ person.id }}">
            <input type="submit">
        </form>
    {% endif %}
{% endblock %}