{% extends 'base.html' %}
{% block content %}
    <form method="post">
    {% csrf_token %}
    aktor:
        <select name="actor">
            {% for person in persons %}
                <option value="{{ person.id }}">{{ person }}</option>
            {% endfor %}
        </select>
    film:
        <select name="movie">
            {% for movie in movies %}
                <option value="{{ movie.id }}">{{ movie.title }}</option>
            {% endfor %}
        </select>
        rola: <input type="text" name="role">
    <input type="submit">
    </form>
{% endblock %}